body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}
main {
    color: black;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}